body {
  margin: 0;
  color: #252525;
  background-color: white;
  position: relative;
}

body[data-theme="dark"] {
  color: white;
  background-color: #252525;
}

@media (max-width: 300px) {
  body {
    display: none;
  }
}

* {
  overflow: hidden;
  white-space: nowrap;
}
